* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

.mobile-skills {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
}

header {
  height: 100vh;
}

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./leading-web-design-trends-1200x479.jpg");
  background-position: fixed;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5rem;
}

.title {
  display: grid;
  place-content: center;
  padding-top: 2rem;
  margin-bottom: 5rem;
}
.title h1 {
  color: #fff;
  letter-spacing: 5px;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  padding-bottom: 10px;
  border-bottom: 5px solid #fff;
}

#particles-js {
  width: 100%;
  height: 100vh !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./leading-web-design-trends-1200x479.jpg");
  background-position: fixed;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
}

.content {
  display: grid;
  place-content: center;
  margin: 12% 0;
}

.center-text h1 {
  color: white;
  font-size: 7rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}
.center-text h1 span {
  background-color: #fff;
  color: #000;
  padding: 0 15px;
}

nav {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
nav h2 {
  color: #fff;
  letter-spacing: 10px;
  font-weight: 400;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 2rem;
}
nav ul li a {
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.5rem;
}
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in;
}
nav ul li a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.cta a {
  padding: 20px 35px;
  color: #000;
  font-size: 1.2rem;
  position: relative;
  z-index: 100;
  margin-right: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
}
.cta .first-link {
  transition: all 400ms ease-in-out;
  border: 3px solid #fff;
  z-index: 100;
}
.cta .first-link.first-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 400ms ease-in-out;
  z-index: -1;
}
.cta .first-link:hover {
  color: #fff;
  border: 3px solid #fff;
}
.cta .first-link:hover::after {
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: none;
}
.cta .last-link {
  color: #fff;
  transition: all 300ms ease-in-out;
  z-index: 100;
}
.cta .last-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: 0.5s;
}
.cta .last-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: 0.5s;
}
.cta .last-link:hover::after, .cta .last-link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

section.aboutme .boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
section.aboutme .boxes .box {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 25px 0;
  margin: 1rem 0;
  padding-left: 10px;
  border-left: 4px solid #fff;
}
section.aboutme .boxes .box:nth-child(2), section.aboutme .boxes .box:nth-child(3), section.aboutme .boxes .box:nth-child(6), section.aboutme .boxes .box:nth-child(7) {
  border-left: none;
  background: none;
  box-shadow: none;
  border: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
section.aboutme .boxes .box p {
  color: #fff;
  line-height: 2.5;
}
section.aboutme .boxes .box p a {
  font-size: 1.3rem;
}
section.skills .top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.skills .second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.skills .second img {
  filter: grayscale(100%);
  cursor: not-allowed;
}
section.skills .third {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
section.skills .third img:nth-child(2) {
  filter: grayscale(100%);
  cursor: not-allowed;
}
section.skills .fourth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.skills .fourth img:last-child {
  margin-left: 10rem;
}
section.skills .bottom {
  display: grid;
  place-content: center;
}
section.contactme .contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}
section.contactme .contact .left {
  display: grid;
  grid-template-columns: 1fr;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
section.contactme .contact .left .item {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
section.contactme .contact .left .item h3 {
  color: #16c0f0;
}
section.contactme .contact .left .item p {
  color: #fff;
  margin: 1rem 0;
}
section.contactme .contact .left .item ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  position: relative;
}
section.contactme .contact .left .item ul li {
  position: relative;
  cursor: pointer;
}
section.contactme .contact .left .item ul li a .fa-brands {
  font-size: 3em;
}
section.contactme .contact .left .item ul li::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
section.contactme .contact .left .item ul li:nth-child(1)::before {
  content: "\f39e";
  color: #1773ea;
}
section.contactme .contact .left .item ul li:nth-child(2)::before {
  content: "\f2c6";
  color: #33a7dd;
}
section.contactme .contact .left .item ul li:nth-child(3)::before {
  content: "\f08c";
  color: #177fb5;
}
section.contactme .contact .left .item ul li:nth-child(4)::before {
  content: "\f16d";
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.contactme .contact .left .item ul li:nth-child(5)::before {
  content: "\f09b";
  color: #000;
}
section.contactme .contact .left .item ul li:hover::before {
  height: 100%;
}
section.contactme .contact .main {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
section.contactme .contact .main form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
section.contactme .contact .main form input,
section.contactme .contact .main form textarea {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  margin: 1rem 1rem;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.2rem;
}
section.contactme .contact .main form input,
section.contactme .contact .main form textarea {
  padding: 1rem 10px;
}
section.contactme .contact .main form input::-moz-placeholder, section.contactme .contact .main form textarea::-moz-placeholder {
  font-size: 1.2rem;
  color: #fff;
}
section.contactme .contact .main form input:-ms-input-placeholder, section.contactme .contact .main form textarea:-ms-input-placeholder {
  font-size: 1.2rem;
  color: #fff;
}
section.contactme .contact .main form input::placeholder,
section.contactme .contact .main form textarea::placeholder {
  font-size: 1.2rem;
  color: #fff;
}
section.contactme .contact .main form input[type=submit] {
  cursor: pointer;
  transition: all 300ms;
}
section.contactme .contact .main form input[type=submit]:hover {
  background-color: #fff;
  color: #000;
}
section.services .service .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
section.services .service .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 25px 10px;
  margin: 1rem 0;
  border-left: 4px solid #fff;
  position: relative;
  scale: 1;
  transition: all 500ms ease-in-out;
}
section.services .service .boxes .box .top {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.services .service .boxes .box .top i {
  margin-bottom: 1rem;
  font-size: 3rem;
}
section.services .service .boxes .box p {
  font-size: 1.1rem;
  line-height: 1.6;
}
section.services .service .boxes .box:hover {
  scale: 1.1;
}
section.myworks .works .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
section.myworks .works .boxes .grid figure ul {
  margin-bottom: 2rem;
}
section.myworks .works .boxes .grid figure ul .live a {
  color: #000;
  font-weight: bold;
  box-shadow: 10px 10px 20px #fff;
  display: block;
}
section.myworks .works .boxes .grid figure ul .live:hover {
  transform: scale(1.2);
}

footer {
  padding: 1.5rem;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./leading-web-design-trends-1200x479.jpg");
  background-position: fixed;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 10px 0 10px #fff;
}
footer p {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #fff;
}

@media (max-width: 1400px) {
  .content {
    display: grid;
    place-content: center;
    margin: 10% 0;
  }
  .center-text {
    margin: 0 10%;
  }
  .center-text h1 {
    font-size: 5rem;
  }
  .cta {
    margin-top: 3rem;
  }
}
@media (max-width: 475px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    display: none;
  }
  .center-text h1 {
    font-size: 4rem;
  }
  .cta {
    margin-left: 2rem;
  }
  .cta a {
    padding: 10px 25px;
  }
  .title h1 {
    font-size: 2rem;
  }
  section.aboutme .boxes {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }
  section.aboutme .boxes .box:nth-child(2), section.aboutme .boxes .box:nth-child(3), section.aboutme .boxes .box:nth-child(6), section.aboutme .boxes .box:nth-child(7) {
    display: none;
  }
  section.skills .top,
section.skills .second,
section.skills .third,
section.skills .fourth,
section.skills .bottom {
    display: none;
  }
  section.skills .mobile-skills .skills {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section.skills .mobile-skills .skills img {
    margin: 1rem 0;
  }
  section.myworks .works .boxes {
    grid-template-columns: 1fr;
  }
  section.services .service .boxes {
    grid-template-columns: 1fr;
  }
  section.services .service .boxes .box {
    margin: 0 2rem;
  }
  section.contactme .contact {
    grid-template-columns: 1fr;
  }
  section.contactme .contact .left,
section.contactme .contact .main {
    margin: 0 2rem;
  }
}/*# sourceMappingURL=style.css.map */